.polocode-btn {
    outline: none;
    cursor: pointer;
    padding: 10px;
    background: rebeccapurple;
    color: var(--txt-color, white);
    font-weight: 500;
    line-height: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.polocode-btn.success {
    background: greenyellow;
}

.polocode-btn.info {
    background: lightskyblue;
}

.polocode-btn:disabled,
.polocode-btn[disabled] {
    opacity: 0.4;
}